.test_badge {
    background-color: #BF0000;
    border: 5px solid #BF0000;
    color: #FFFFFF;
    font-family: verdana;
    font-size: 35px;
    font-weight: bold;
    padding: 40px;
    position: fixed;
    left: 0;
    z-index: 9999999;
}
.test_badge.off {
    background-color: gray;
    border: medium none;
    color: #ffffff;
    font-family: verdana;
    font-size: 0.6em;
    font-weight: normal;
    left: 0;
    padding: 4px 10px;
    position: fixed;
    z-index: 9999999;
}
.test_badge.off > a {
    color: inherit;
}
.test_badge > div {
    font-size: 10px;
    position: absolute;
}
.test_badge > div.topleft {
    left: 0;
    top: 0;
}
.test_badge > div.topright {
    right: 0;
    top: 0;
}
.test_badge > div.bottomleft {
    left: 0;
    bottom: 0;
}
.test_badge > div.bottomright {
    bottom: 0;
    right: 0;
    text-align: right;
}
.test_badge > div > span {
    float: left;
    margin: 0 1px;
    min-height: 30px;
}
.test_badge > div.topleft > span > div{
    text-align: left;
}
.test_badge > div.topright > span > div{
    text-align: right;
}
.test_badge > div  a:link,
.test_badge > div  a:visited {
    color: inherit;
    text-decoration: none;
}
.test_badge > div  a:hover,
.test_badge > div  a:active {
    text-decoration: underline;
}